<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter" />
    <conversionRule conversionWord="wEx" converterClass="org.springframework.boot.logging.logback.ExtendedWhitespaceThrowableProxyConverter" />

    <appender name="textAppender" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>TRACE</level>
        </filter>
        <encoder>
            <charset>UTF-8</charset>
            <pattern>
                %clr(%d{yyyy-MM-dd' 'HH:mm:ss.SSSXXX}){faint} %clr(%5p) %clr(-){faint} %clr(%-35.35logger{34}){cyan} %clr(:){faint} %m%n%wEx
            </pattern>
        </encoder>
    </appender>

    <appender name="jsonAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <charset>UTF-8</charset>
            <layout class="ch.qos.logback.contrib.json.classic.JsonLayout">
                <timestampFormat>yyyy-MM-dd' 'HH:mm:ss.SSSXXX</timestampFormat>
                <timestampFormatTimezoneId>-05:00</timestampFormatTimezoneId>
                <jsonFormatter class="ch.qos.logback.contrib.jackson.JacksonJsonFormatter">
                    <prettyPrint>true</prettyPrint>
                </jsonFormatter>
                <includeMDC>false</includeMDC>
                <includeThreadName>false</includeThreadName>
                <includeContextName>false</includeContextName>
                <appendLineSeparator>true</appendLineSeparator>
            </layout>
        </encoder>
    </appender>

    <!-- Log level priority: ERROR, WARN, INFO, DEBUG, and TRACE. -->
    <!-- This can be overridden with the Spring config definitions. -->
    <root level="WARN">
        <appender-ref ref="textAppender"/>
    </root>

    <springProfile name="local | dev | test">
        <logger name="hiperium.city.data.function" level="DEBUG" additivity="false">
            <appender-ref ref="jsonAppender"/>
        </logger>
    </springProfile>

    <springProfile name="test">
        <logger name="hiperium.city.data.function.common.TestContainersBase" level="INFO" additivity="false">
            <appender-ref ref="textAppender"/>
        </logger>
    </springProfile>
</configuration>

